.col-lg{
   height: 715px;
   width: 407px;
}
.img-contact img {
    height: 594px;
    width: 100%;
  }
  
.queries{
    height: 715px;
    width: 407px;
    background-color:#d9d9d9;
    margin-top: 160px;
    margin-left: 155px;
}


.form{

    padding-left: 15px;
    padding-top: 13px;
    margin-bottom: 0px;
    align-items: center;
}

h3{
    padding-top: 17px;
    padding-left: 6px;
}

.queries input{
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-style: 1rem;
    color: var(--heading-color);
}

.textarea{
    width: 90%;
}

.details{
    background-color: #d9d9d9;
    height: 250px;
    margin-top: 160px;
    margin-left: 0px;
    width: 407px;
    
    
}

.CD-txt{
    text-align: center;
}

.contact-details{
    background-color: white;
    width: 280px;
    margin: 34px;
    margin-left: 62px;
}

.location-png img{
    height: 20px;
    padding-right: 8px;
    text-align: center;
    margin: 6px;

}

.Tel-png img{
    height: 20px;
    padding-right: 8px;
    text-align: center;
    margin: 6px;
}

.Mobile-png img{
    height: 20px;
    padding-right: 6px;
    text-align: center;
    margin: 6px;
    margin-left: 12px;
}

.Mail-png img{
    height: 20px;
    padding-right: 8px;
    text-align: center;
    margin: 6px;
}


